window {
  background-color: $base;
  color: $color00;
}

.bar {
  padding: 4px 10px;
}

.motherfucker {
  all: unset;
  margin: 9px 0;
  min-width: 24px;
  // min-height: 2px;
  background: white;
  border-radius: 10px;
}

button {
  padding: 1px 10px;
  color: white;
  border: none;
  box-shadow: none;
  background: $base;
  min-width: 0;

  &:active {
    color: $color02;
  }

  &:hover {
    color: $color07;
  }
}


progress,
highlight {
  min-height: 8px;
}

.distro-icon {
  color: $color03;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;

  label {
    font-size: 16px;
    padding-right: 6px;
  }

  &:hover {
    color: $color01;
  }
}

.separator {
  color: $color01;
  opacity: 0.2;
}

.cpu-usage,
.memory-usage,
.flatpak-updates,
.client-title,
.volume-indicator,
.clock {
  .value {
    color: $color01;
  }
}

.cpu-usage .icon {
  color: $color11;
}

.memory-usage .icon {
  color: $color10;
}

.client-title .icon {
  color: $color07;
}

.flatpak-updates .icon {
  color: $color05;
}

.workspaces {

  button {
    all: unset;
    background: $color01;
    opacity: 0.2;
    min-width: 14px;
    margin: 9px 4px;
    border-radius: 10px;

    &:nth-child(1) {
      margin-left: 0;
    }

    &:nth-last-child(1) {
      margin-right: 0;
    }
  }

  .active {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
    transition-duration: 300ms;
    min-width: 22px;
    opacity: 1;
  }

  .occupied {
    opacity: 1;
    background: $color05;
  }
}


.media {
  color: $color01;

  .player-icon {
    background: $color00;
    color: $color09;

    &:hover {
      background: $color03;
      color: $color00;
    }
  }

  .paused {
    font-style: italic;
    color: $color07;
  }

  .status-icon {
    color: $color01;
  }
}

.systray {
  button {
    all: unset
  }
}

.network-indicator {
  color: $color03;
}

.volume-indicator .icon {
  color: $color05;
}

.clock .icon {
  color: $color06;
}

label {
  font-weight: bold;
}

.powermenu-icon {
  font-size: 16px;
  color: $color04;
  padding-right: 6px;
}
