$base: #1e1e2e;
$crust: #1e1e2e;
$color00: #313244;
$color01: #bac2de;
$color02: #bac2de;
$color03: #89b4fa;
$color04: #f38ba8;
$color05: #a6e3a1;
$color06: #fab387;
$color07: #f9e2af;
$color08: #1e1e2e;
$color09: #cdd6f4;
$color10: #cba6f7;
$color11: #94e2d5;

$bg-alt: transparentize(#313244, 0.5);
$text: #bac2de;
$text-dimmed: transparentize(#bac2de, 0.4);
