$base: #1e1e1e;
$crust: #181825;
$color00: #181825;
$color01: #b4befe;
$color02: #b4befe;
$color03: #89b4fa;
$color04: #f38ba8;
$color05: #a6e3a1;
$color06: #fab387;
$color07: #f9e2af;
$color08: #181825;
$color09: #cdd6f4;
$color10: #cba6f7;
$color11: #89dceb;
