#mpris-player {
  color: $color09;

  button {
    all: unset;
    color: $color09;
  }

  .player-control-icons {
    padding-right: 4px;

    label {
      font-size: 20px;
    }
  }
}

#mpris-player-window {
  background-color: $crust;
  border: 2px solid $color01;
}
