window#notifications {
  all: unset;
  background-color: transparent;
  font-size: 14px;

  .notifications {
    margin: 4.8px;

    .notification {
      background-color: $base;
      padding: 10px;
      border: 3px solid $color01;
      border-radius: 6px;
      margin-bottom: 6px;

      .title {
        font-family: "Cantarell";
      }

      .description {
        font-family: "Cantarell";
        font-size: 14px;
        font-weight: 400;
        margin-top: 2px;
      }

      .icon {
        color: $color00;
        &.img {
          margin-right: 10px;
        }
      }

      .time {
        background-color: $color05;
        color: $base;
        padding: 0 10px;
        margin-right: 10px;
        border-radius: 10rem;
      } 
      .close-button {
        background-color: $color04;
        color: $base;

        &:hover {
          background-color: $color01;
          color: $crust;
        }
      }
    }
  }
}
