#quicksettings {
  .control-pannel {
    background: $base;
    border: 3px solid $color03;
    padding: 8px;
    // border-radius: $border-radius;
  }

  #mpris-player {
    border: $border;
    // border-radius: $border-radius;
    border-color: $color05;

    trough {
      background-color: rgba($color01, 0.1);
    }
  }

  .buttons-grid {
    button {
      background-color: $color00;
      min-height: 38px;
      min-width: 8.3rem;
      color: $color01;

      &:hover {
        transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 300ms;
        background-color: $color05;
        color: $color00;
      }
    }

    .active {
      background-color: $color03;
      color: $color00;
    }
  }

  .sysfetch {
    border: $border;
    // border-radius: $border-radius;
    border-color: $color06;
    padding: 8px;
    color: $color01;

    .icon {
      padding-right: 2px;
    }

    .user .icon {
      color: $color07;
    }

    .host .icon {
      color: $color06;
    }

    .distro .icon {
      color: $color05;
    }

    .kernel .icon {
      color: $color11;
    }

    .uptime .icon {
      color: $color10;
    }
  }
}
