// @import "/home/ray/.config/stylix/ags-colors.scss";
@import "./colors.scss";

* {
  font-family: "CommitMono Nerd Font";
  font-size: 14px;
}

@import "./global.scss";
@import "./extra.scss";
@import "./bar.scss";
@import "./notifications.scss";
@import "./osd.scss";
@import "./mpris.scss";
@import "./quicksettings.scss";
@import "./flatpak.scss";
@import "./wallpapers.scss";
